<div class="container">
    <div class="alert alert-success text-center text-bold m-3 p-5">
        <div class="h5 mb-3">
            اللّهـمَّ أَنْتَ رَبِّـي لا إلهَ إلاّ أَنْتَ ، خَلَقْتَنـي وَأَنا عَبْـدُك ، وَأَنا عَلـى عَهْـدِكَ وَوَعْـدِكَ ما اسْتَـطَعْـت ، أَعـوذُبِكَ مِنْ شَـرِّ ما صَنَـعْت ، أَبـوءُ لَـكَ بِنِعْـمَتِـكَ عَلَـيَّ وَأَبـوءُ بِذَنْـبي فَاغْفـِرْ لي فَإِنَّـهُ لا يَغْـفِرُ الذُّنـوبَ إِلاّ أَنْتَ .
        </div>
    </div>
    <div class="alert alert-primary text-center text-bold m-3 p-5">
        <div class="h1 mb-3">
            Bienvenu Dans Votre Place
        </div>
    </div>

    <div class="alert alert-danger text-center text-bold m-3 p-5">
        <div class="h1">Task Management</div>
        <div class="h3 text-secondary">
            1er Application de Gestion de Taches Dans le Monde
        </div>
    </div>
</div>

