<div class="container">
    <div class="card my-3">
        <div class="card-header">Gestion de Tache</div>
        <div class="card-body">
            <button class="btn btn-primary">Create</button>
            <table class="table table-striped my-3">
                <thead>
                    <th>Reservation</th>
                    <th>Date de Debut</th>
                    <th>Charge d'Etude</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Res N3</td>
                        <td>2019</td>
                        <td>Redoune</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>